@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: 'Poppins',sans-serif; */
}
.background{
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.btns label{
  display: inline-flex;
  /* height: 55px; */
  padding: 5px 20px;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
  /* line-height: 55px; */
  outline: none;
  margin: 0 10px;
  border: none;
  /* color: #fff; */
  border-radius: 5px;
  transition: all 0.3s ease;
}
.btns label:first-child{
  background: #F8CA0A;
  border: 2px solid #F8CA0A;
  border-radius: 25px;
  color: #fff;
}
/* .btns label:first-child:hover{
  background: #2573a7;
} */
.btns label:last-child{
  background: #fff;
  border: 2px solid #F8CA0A;
  border-radius: 25px;
  color: #F8CA0A;
}
/* .btns label:last-child:hover{
  background: #d9210d;
} */

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 80%; /* Full width */
  height: 65%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.001);
}

/* Modal Content */
.modal-content {
  background-color: #f9f9f9;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 30%;
}

.modal-content p {
  font-size: 25px;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* #drop-menu ul {
  border: 5px #000;
} */

#drop-menu ul {
  background: pink;
  width: 60px;
}

/*search bar*/
.search{
float: left;
}

.newAccCat{
  float: right;
  border: none;
  background-color: white;
  text-decoration: underline;
  font-weight: bolder;
}

.newAccCat:hover{
  cursor: pointer;
}

.editBtn {
  background-color: #67c46a;
  border: none;
  border-radius: 5px;
  padding: 4px 6px 3px 5px;
  color: #fff;
}

.deleteBtn {
  background-color: #ec746b;
  border: none;
  border-radius: 5px;
  padding: 4px 6px 3px 5px;
  color: #fff;
}