.ticket-div {
    width: 100%; 
    /* background-color:pink;  */
    padding: 20px 50px 0px 50px; 
    height:fit-content;
    /* padding-bottom: 0px; */
}

.button-div {
    width: 100%; 
    /* background-color:pink;  */
    padding: 50px 50px 0px 50px; 
    height:fit-content;
    /* padding-bottom: 0px; */
    text-align: center;
}

.attribute {
    font-weight: bold;
    margin-top: 10px;
}

.reopen-p {
    margin-top: 15px;
}

.reopen-span {
    font-weight: bold;
}

.ticket-div p {
    font-size: 15px;
    display: flex;
}

.ticket-left {
    width: 30%;
    display:inline-block;
    word-break: break-all;
    top:0;
    min-height: 200px; 
    vertical-align: top;
    padding-bottom: 20px;
    /* top:0 */
}

.ticket-right { 
    width: 50%;
    display:inline-block;
    margin-left: 3%;
    min-height: 200px;
    vertical-align: top;
    padding-bottom: 20px;
    /* top:0; */
}

#priority {
    margin-top: 5px;
    padding: 7px 20px 7px 5px;
    border-radius: 6px;
    border: 2px solid #cccc;
}

#transfer {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    float:right;
    margin-top: 45px;
    margin-right: 70px;
    font-size: 17px;
    position: absolute;
    top:0;
    right:0
}

#secondary-button {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    /* float:right; */
    
    /* align-self: baseline; */
    font-size: 17px;
    /* position: absolute;
    right:0;
    bottom: 0; */
    display: block;
    margin-bottom: 10px;
    margin-bottom: 10px;
    width: 200px;
}

#primary-button {
    background-color: #F8CA0A; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#FFFFFF;
    /* float:right; */
    font-size: 17px;
    display: block;
    width: 200px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 70px; 
    padding-bottom: 30px;
}

#reopen {
    background-color: #f7f2e4;
    padding: 50px 150px 30px 150px;
    min-height: 653px;
}

.reopen-button {
    margin-top:4px;
    background-color: #F8CA0A;
    border: 2px solid#F8CA0A; 
    border-radius: 20px; 
    color:#FFFFFF;
    padding: 3px 15px 3px 15px;
}

/* Mark as Ongoing
Void Ticket 
Mark as Resolved */

#secondary-button2 {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    /* float:right; */
    
    /* align-self: baseline; */
    font-size: 17px;
    /* position: absolute;
    right:0;
    bottom: 0; */
    /* display: block;
    margin-bottom: 10px;
    margin-bottom: 10px; */
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
#primary-button2 {
    background-color: #F8CA0A; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#FFFFFF;
    /* float:right; */
    font-size: 17px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Dashboard */

.cardlabel {
    font-weight: bold;
    margin-top: 10px;
    font-size: 17px;
}

.cardinfo {
    font-size: 17px;
}

// Tickets
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none; }

.tabs {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  overflow: hidden; }
  .tabs [class^="tab"] label,
  .tabs [class*=" tab"] label {
    cursor: pointer;
    display: block;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1em;
    padding: 2rem 0;
    text-align: center; }
  .tabs [class^="tab"] [type="radio"],
  .tabs [class*=" tab"] [type="radio"] {
    border-bottom: 1px solid rgba(239, 237, 239, 0.5);
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out; }
    .tabs [class^="tab"] [type="radio"]:hover, .tabs [class^="tab"] [type="radio"]:focus,
    .tabs [class*=" tab"] [type="radio"]:hover,
    .tabs [class*=" tab"] [type="radio"]:focus {
      border-bottom: 1px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked,
    .tabs [class*=" tab"] [type="radio"]:checked {
      border-bottom: 2px solid #fd264f; }
    .tabs [class^="tab"] [type="radio"]:checked + div,
    .tabs [class*=" tab"] [type="radio"]:checked + div {
      opacity: 1; }
    .tabs [class^="tab"] [type="radio"] + div,
    .tabs [class*=" tab"] [type="radio"] + div {
      display: block;
      opacity: 0;
      padding: 2rem 0;
      width: 90%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
  .tabs .tab-2 {
    width: 50%; }
    .tabs .tab-2 [type="radio"] + div {
      width: 200%;
      margin-left: 200%; }
    .tabs .tab-2 [type="radio"]:checked + div {
      margin-left: 0; }
    .tabs .tab-2:last-child [type="radio"] + div {
      margin-left: 100%; }
    .tabs .tab-2:last-child [type="radio"]:checked + div {
      margin-left: -100%; }