.ticket-div {
    width: 100%; 
    /* background-color:pink;  */
    padding: 20px 50px 0px 50px; 
    height:fit-content;
    /* padding-bottom: 0px; */
}

.button-div {
    width: 100%; 
    /* background-color:pink;  */
    padding: 50px 50px 0px 50px; 
    height:fit-content;
    /* padding-bottom: 0px; */
    text-align: center;
}

.attribute {
    font-weight: bold;
    margin-top: 10px;
}

.reopen-p {
    margin-top: 15px;
}

.reopen-span {
    font-weight: bold;
}

.ticket-div p {
    font-size: 15px;
    display: flex;
}

.ticket-left {
    width: 30%;
    display:inline-block;
    word-break: break-all;
    top:0;
    min-height: 200px; 
    vertical-align: top;
    padding-bottom: 20px;
    /* top:0 */
}

.ticket-right { 
    width: 50%;
    display:inline-block;
    margin-left: 3%;
    min-height: 200px;
    vertical-align: top;
    padding-bottom: 20px;
    /* top:0; */
}

#priority {
    margin-top: 5px;
    padding: 7px 20px 7px 5px;
    border-radius: 6px;
    border: 2px solid #cccc;
}

#transfer {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    float:right;
    margin-top: 45px;
    margin-right: 70px;
    font-size: 17px;
    position: absolute;
    top:0;
    right:0
}

#secondary-button {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    /* float:right; */
    
    /* align-self: baseline; */
    font-size: 17px;
    /* position: absolute;
    right:0;
    bottom: 0; */
    display: block;
    margin-bottom: 10px;
    margin-bottom: 10px;
    width: 200px;
}

#primary-button {
    background-color: #F8CA0A; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#FFFFFF;
    /* float:right; */
    font-size: 17px;
    display: block;
    width: 200px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 70px; 
    padding-bottom: 30px;
}

#reopen {
    background-color: #f7f2e4;
    padding: 50px 150px 30px 150px;
    min-height: 653px;
}

.reopen-button {
    margin-top:4px;
    background-color: #F8CA0A;
    border: 2px solid#F8CA0A; 
    border-radius: 20px; 
    color:#FFFFFF;
    padding: 3px 15px 3px 15px;
}

/* Mark as Ongoing
Void Ticket 
Mark as Resolved */

#secondary-button2 {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    /* float:right; */
    
    /* align-self: baseline; */
    font-size: 17px;
    /* position: absolute;
    right:0;
    bottom: 0; */
    /* display: block;
    margin-bottom: 10px;
    margin-bottom: 10px; */
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
#primary-button2 {
    background-color: #F8CA0A; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#FFFFFF;
    /* float:right; */
    font-size: 17px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Dashboard */

.cardlabel {
    font-weight: bold;
    margin-top: 10px;
    font-size: 17px;
}

.cardinfo {
    font-size: 17px;
}

// Tickets
.ticketNav {
	margin: 27px auto 0;

	position: relative;
	width: 590px;
	height: 50px;
	background-color: #34495e;
	border-radius: 8px;
	font-size: 0;
}
.ticketNav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: white;
	cursor: pointer;
}
.TicketNav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
.TicketNav a:nth-child(1) {
	width: 100px;
}
.TicketNav a:nth-child(2) {
	width: 110px;
}
.TicketNav a:nth-child(3) {
	width: 100px;
}
.TicketNav a:nth-child(4) {
	width: 160px;
}
.TicketNav a:nth-child(5) {
	width: 120px;
}
.TicketNav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color: #1abc9c;
}
.TicketNav .start-about, a:nth-child(2):hover~.animation {
	width: 110px;
	left: 100px;
	background-color: #e74c3c;
}
.TicketNav .start-blog, a:nth-child(3):hover~.animation {
	width: 100px;
	left: 210px;
	background-color: #3498db;
}
.TicketNav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #9b59b6;
}
.TicketNav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #e67e22;
}
