.ticket-div {
    width: 100%; 
    /* background-color:pink;  */
    padding: 20px 50px 0px 50px; 
    height:fit-content;
    /* padding-bottom: 0px; */
}

.button-div {
    width: 100%; 
    /* background-color:pink;  */
    padding: 50px 50px 0px 50px; 
    height:fit-content;
    /* padding-bottom: 0px; */
    text-align: center;
}

.attribute {
    font-weight: bold;
    margin-top: 10px;
}

.reopen-p {
    margin-top: 15px;
}

.reopen-span {
    font-weight: bold;
}

.ticket-div p {
    font-size: 15px;
    display: flex;
}

.ticket-left {
    width: 30%;
    display:inline-block;
    word-break: break-all;
    top:0;
    min-height: 200px; 
    vertical-align: top;
    padding-bottom: 20px;
    /* top:0 */
}

.ticket-right { 
    width: 50%;
    display:inline-block;
    margin-left: 3%;
    min-height: 200px;
    vertical-align: top;
    padding-bottom: 20px;
    /* top:0; */
}

#priority {
    margin-top: 5px;
    padding: 7px 20px 7px 5px;
    border-radius: 6px;
    border: 2px solid #cccc;
}

#filter {
    margin-top: 5px;
    padding: 7px 20px 7px 5px;
    border-radius: 6px;
    border: 2px solid #cccc;
    width: 280px;
}

#transfer {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    float:right;
    margin-top: 45px;
    margin-right: 70px;
    font-size: 17px;
    position: absolute;
    top:0;
    right:0
}

#secondary-button {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    /* float:right; */
    
    /* align-self: baseline; */
    font-size: 17px;
    /* position: absolute;
    right:0;
    bottom: 0; */
    display: block;
    margin-bottom: 10px;
    margin-bottom: 10px;
    width: 200px;
}

#primary-button {
    background-color: #F8CA0A; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#FFFFFF;
    /* float:right; */
    font-size: 17px;
    display: block;
    width: 200px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 70px; 
    padding-bottom: 30px;
}

#reopen {
    background-color: #f7f2e4;
    padding: 50px 150px 30px 150px;
    min-height: 653px;
}

.reopen-button {
    margin-top:4px;
    background-color: #F8CA0A;
    border: 2px solid#F8CA0A; 
    border-radius: 20px; 
    color:#FFFFFF;
    padding: 3px 15px 3px 15px;
}

/* Mark as Ongoing
Void Ticket 
Mark as Resolved */

#secondary-button2 {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    /* float:right; */
    
    /* align-self: baseline; */
    font-size: 17px;
    /* position: absolute;
    right:0;
    bottom: 0; */
    /* display: block;
    margin-bottom: 10px;
    margin-bottom: 10px; */
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
#primary-button2 {
    background-color: #F8CA0A; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#FFFFFF;
    /* float:right; */
    font-size: 17px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Dashboard */

.cardlabel {
    font-weight: bold;
    margin-top: 10px;
    font-size: 17px;
}

.cardinfo {
    font-size: 17px;
}

/* Ticket Menu Bar */

div.ticketNav {
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 10px;
    width: fit-content;
    border: 2px solid #cccc;
    float: right;
}

div.ticketNav a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-radius: 2px;
}

div.ticketNav a:hover {
    background-color: #eccd41;
    color: white;
}

div.ticketNav a.active {
    background-color: #eccd41;
    color: white;
}

div.userNav {
    overflow: auto;
    white-space: nowrap;
    margin-bottom: 10px;
    width: fit-content;
    border: 2px solid #cccc;
    float: right;
}

div.userNav a {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border-radius: 2px;
}

div.userNav a:hover {
    background-color: #eccd41;
    color: white;
}

div.userNav a.active {
    background-color: #eccd41;
    color: white;
}

/* Notifications */
.dropbtn {
    background-color: #EDC304;
    /* color: white; */
    margin-left:2px;
    padding: 12px 8px;
    /* font-size: 16px; */
    border: none;
    border-radius: 42px;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #EDC304;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 320px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
    right: 0;
    /* top:0; */
  }

  .containterNotif { 
    border: 1px solid rgba(155, 155, 155, 0.8);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border: 1px solid rgba(155, 155, 155, 0.8);
  }
  
  .dropdown a:hover {background-color: #fbf6f6;}
  
  .show {display: block;}