.ticket-div {
    width: 100%; 
    /* background-color:pink;  */
    padding: 20px 50px 0px 50px; 
    height:fit-content;
    /* padding-bottom: 0px; */
}

.button-div {
    width: 100%; 
    /* background-color:pink;  */
    padding: 50px 50px 0px 50px; 
    height:fit-content;
    /* padding-bottom: 0px; */
    text-align: center;
}

.attribute {
    font-weight: bold;
    margin-top: 10px;
}

.reopen-p {
    margin-top: 15px;
}

.reopen-span {
    font-weight: bold;
}

.ticket-div p {
    font-size: 15px;
    display: flex;
}

.ticket-left {
    width: 30%;
    display:inline-block;
    word-break: break-all;
    top:0;
    min-height: 200px; 
    vertical-align: top;
    padding-bottom: 20px;
    /* top:0 */
}

.ticket-right { 
    width: 50%;
    display:inline-block;
    margin-left: 3%;
    min-height: 200px;
    vertical-align: top;
    padding-bottom: 20px;
    /* top:0; */
}

#priority {
    margin-top: 5px;
    padding: 7px 20px 7px 5px;
    border-radius: 6px;
    border: 2px solid #cccc;
}

#transfer {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    float:right;
    margin-top: 45px;
    margin-right: 70px;
    font-size: 17px;
    position: absolute;
    top:0;
    right:0
}

#secondary-button {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    /* float:right; */
    
    /* align-self: baseline; */
    font-size: 17px;
    /* position: absolute;
    right:0;
    bottom: 0; */
    display: block;
    margin-bottom: 10px;
    margin-bottom: 10px;
    width: 200px;
}

#primary-button {
    background-color: #F8CA0A; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#FFFFFF;
    /* float:right; */
    font-size: 17px;
    display: block;
    width: 200px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 70px; 
    padding-bottom: 30px;
}

#reopen {
    background-color: #f7f2e4;
    padding: 50px 150px 30px 150px;
    min-height: 653px;
}

.reopen-button {
    margin-top:4px;
    background-color: #F8CA0A;
    border: 2px solid#F8CA0A; 
    border-radius: 20px; 
    color:#FFFFFF;
    padding: 3px 15px 3px 15px;
}

/* Mark as Ongoing
Void Ticket 
Mark as Resolved */

#secondary-button2 {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    /* float:right; */
    
    /* align-self: baseline; */
    font-size: 17px;
    /* position: absolute;
    right:0;
    bottom: 0; */
    /* display: block;
    margin-bottom: 10px;
    margin-bottom: 10px; */
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
#primary-button2 {
    background-color: #F8CA0A; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#FFFFFF;
    /* float:right; */
    font-size: 17px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Dashboard */

.cardlabel {
    font-weight: bold;
    margin-top: 10px;
    font-size: 17px;
}

.cardinfo {
    font-size: 17px;
}

// Tickets
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.tabset {
  max-width: 65em;
}