.ticket-div {
    width: 100%; 
    /* background-color:pink;  */
    padding: 20px 50px 0px 50px; 
    height:fit-content;
    /* padding-bottom: 0px; */
}

.button-div {
    width: 100%; 
    /* background-color:pink;  */
    padding: 50px 50px 0px 50px; 
    height:fit-content;
    /* padding-bottom: 0px; */
    text-align: center;
}

.attribute {
    font-weight: bold;
    margin-top: 10px;
}

.reopen-p {
    margin-top: 15px;
}

.reopen-span {
    font-weight: bold;
}

.ticket-div p {
    font-size: 15px;
    display: flex;
}

.ticket-left {
    width: 30%;
    display:inline-block;
    word-break: break-all;
    top:0;
    min-height: 200px; 
    vertical-align: top;
    padding-bottom: 20px;
    /* top:0 */
}

.ticket-right { 
    width: 50%;
    display:inline-block;
    margin-left: 3%;
    min-height: 200px;
    vertical-align: top;
    padding-bottom: 20px;
    /* top:0; */
}

#priority {
    margin-top: 5px;
    padding: 7px 20px 7px 5px;
    border-radius: 6px;
    border: 2px solid #cccc;
}

#transfer {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    float:right;
    margin-top: 45px;
    margin-right: 70px;
    font-size: 17px;
    position: absolute;
    top:0;
    right:0
}

#secondary-button {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    /* float:right; */
    
    /* align-self: baseline; */
    font-size: 17px;
    /* position: absolute;
    right:0;
    bottom: 0; */
    display: block;
    margin-bottom: 10px;
    margin-bottom: 10px;
    width: 200px;
}

#primary-button {
    background-color: #F8CA0A; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#FFFFFF;
    /* float:right; */
    font-size: 17px;
    display: block;
    width: 200px;
    margin-bottom: 10px;
    margin-bottom: 10px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 70px; 
    padding-bottom: 30px;
}

#reopen {
    background-color: #f7f2e4;
    padding: 50px 150px 30px 150px;
    min-height: 653px;
}

.reopen-button {
    margin-top:4px;
    background-color: #F8CA0A;
    border: 2px solid#F8CA0A; 
    border-radius: 20px; 
    color:#FFFFFF;
    padding: 3px 15px 3px 15px;
}

/* Mark as Ongoing
Void Ticket 
Mark as Resolved */

#secondary-button2 {
    background-color: #FFFFFF; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#F8CA0A;
    /* float:right; */
    
    /* align-self: baseline; */
    font-size: 17px;
    /* position: absolute;
    right:0;
    bottom: 0; */
    /* display: block;
    margin-bottom: 10px;
    margin-bottom: 10px; */
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}
#primary-button2 {
    background-color: #F8CA0A; 
    border: 2px solid#F8CA0A; 
    border-radius: 0px; 
    color:#FFFFFF;
    /* float:right; */
    font-size: 17px;
    width: 200px;
    margin-left: 10px;
    margin-top: 10px;
}

/* Dashboard */

.cardlabel {
    font-weight: bold;
    margin-top: 10px;
    font-size: 17px;
}

.cardinfo {
    font-size: 17px;
}

// Tickets
html, body{
  height: 100%;
  color: #1a1b1c;
}

label, a{
  cursor: pointer;
  user-select: none;
  text-decoration: none;
  display: inline-block;
  color: inherit;
  transition: border 0.2s;
  border-bottom: 5px solid rgba(#8e44ad, 0.2);
  padding: 3px 2px;
  &:hover{
    border-bottom-color: #9b59b6;
  }
}

.layout{
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

input[type="radio"]{
  display: none;
}

label.nav{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid #8e44ad;
  background: #ecf0f1;
  user-select: none;
  transition: background 0.4s, padding-left 0.2s;
  padding-left: 0;
  input[type="radio"]:checked + .page + &{
    background: #9b59b6;
    color: #ffffff;
    padding-left: 20px;
    span{
      padding-left: 20px  
    }
    svg{
      opacity: 1;
    }
  }
  span{
    padding-left: 0px;
    position: relative;
  }
  svg{
    left: 0;
    top: -3px;
    position: absolute;
    width: 15px;
    opacity: 0;
    transition: opacity 0.2s;
  }
}

.page{
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 3;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.page-contents > *{
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
  @for $c from 1 through 20{
    &:nth-child(#{$c}){
      transition-delay: 0.2s + ($c * 0.2s);
    }
  }
}

input[type="radio"] + .page{
  transition: transform 0.2s;
  transform: translateX(100%);
}

input[type="radio"]:checked + .page{
  transform: translateX(0%);
  .page-contents > *{
    opacity: 1;
    transform: translateY(0px);
  }
}

.page-contents{
  max-width: 100%;
  width: 500px;
  margin: 0 auto;
}